<br><br><br><br><br>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" name="nombre" ngModel required type="text">
    <div *ngIf="form.controls['nombre']?.invalid && form.controls['nombre']?.touched">
      El nombre es requerido.
    </div>
  </div>

  <div>
    <label for="correo">Correo:</label>
    <input id="correo" name="correo" ngModel required email type="email">
    <div *ngIf="form.controls['correo']?.invalid && form.controls['correo']?.touched">
      Por favor, ingresa un correo válido.
    </div>
  </div>

  <div>
    <label for="celular">Número de celular:</label>
    <input id="celular" name="celular" ngModel required pattern="[0-9]{10}" type="text">
    <div *ngIf="form.controls['celular']?.invalid && form.controls['celular']?.touched">
      Por favor, ingresa un número de celular válido (10 dígitos).
    </div>
  </div>

  <div>
    <label for="barrio">Barrio donde vive:</label>
    <input id="barrio" name="barrio" ngModel required type="text">
    <div *ngIf="form.controls['barrio']?.invalid && form.controls['barrio']?.touched">
      El barrio es requerido.
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">Enviar</button>
</form>
