<footer class="footer">
  <div class="social-links">
    <!-- Facebook -->
    <div class="social-item">
      <a
        *ngIf="facebookUrl; else noFacebook"
        [href]="facebookUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <ng-template #noFacebook>
        <input
          [(ngModel)]="facebookUrl"
          placeholder="https://www.facebook.com/comunarebelion/photos"
        />
        <img
          *ngIf="facebookUrl"
          [src]="facebookUrl"
          alt="Facebook"
          class="social-image"
        />
      </ng-template>
    </div>

    <div class="social-links">
      <!-- Facebook -->
      <div class="social-item">
        <a
          *ngIf="facebookUrl; else noFacebook"
          [href]="facebookUrl"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-facebook"></i>
        </a>
        <ng-template #noFacebook>
          <input
            [(ngModel)]="facebookUrl"
            placeholder="https://www.facebook.com/profile.php?id=100083734772664"
          />
          <img
            *ngIf="facebookUrl"
            [src]="facebookUrl"
            alt="Facebook"
            class="social-image"
          />
        </ng-template>
      </div>
    </div>
  </div>

  <p>&copy; 2023 TuNombre. Todos los derechos reservados.</p>
</footer>
