<body>
  <h1 class="main-title">De dónde venimos</h1>
<!-- Contenedor de tarjetas -->
<div class="card-container">
  <!-- Tarjeta 1 -->
  <div class="card">
    <h2 style="font-weight: bold; font-style: oblique; text-align: center;">Comisión de Vivencia, Fe y Política</h2>
    <p>
      Nuestra red de organizaciones se ha diversificado. Contamos con cuatro organizaciones que han sido promovidas y sostenidas a lo largo de no menos de una década. Estas organizaciones agrupan cerca de cien personas, la mayoría jóvenes bajo los 30 años. Estas cuatro organizaciones realizan tareas simultáneas de autogestión económica, participación en la coyuntura, ayuda mutua y formación socio-política.
    </p>
  </div>

  <!-- Tarjeta 2 -->
  <div class="card">
    <h2 style="font-weight: bold; font-style: oblique; text-align: center;">¿Qué entendemos por politica?</h2>
    <p>
    La política debe ser entendida como la dimensión de nuestras actividades que le da sentido a las demás. ¿Qué significa esto? Que por acción política debemos entender el esfuerzo consciente por cambiar las relaciones sociales de fuerza para aumentar el poder de los oprimidos y oprimidas por el sistema vigente.
    </p>
  </div>
</div>
<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fcomunarebelion%2Fvideos%2F1865517183856062%2F&show_text=false&width=269&t=0" width="269" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</body>
<br>

